.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 12px;
}

.wrapper button {
  margin: 1rem 0 1rem 0;
  padding: 0 12px;
  border: none;
  background-color: rgb(243, 53, 53);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 12px;
  margin-bottom: 12px;
}

.container input {
  margin: 0 auto;
  border: 0.5px solid rgb(215, 215, 215);
  margin-bottom: 0.65rem;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  width: 30%;
  transition: background-color 1s;
}

.container label {
  font-size: 17px;
  padding: 0 12px;
  text-align: center;
}
.update {
  margin: 0 12px;
  padding: 5px 12px;
  border: none;
  background-color: rgb(53, 158, 243);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
}
