@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
}

